@if (currentPage === 'login') {
  
  <app-login (logged)="currentPage = 'dashboard'"></app-login>

} 
 @else {

  <div class="app-container" style="display: flex;">
    
    <app-sidebar [currentPage]="currentPage" (changePage)="currentPage = $event"></app-sidebar>
    
    <div class="main-content" style="flex: 1; height: 100vh; overflow-y: auto;">
      @if (currentPage === 'dashboard') {
        <app-dashboard></app-dashboard>
      }
      @if (currentPage === 'customer') {
        <app-customer-server></app-customer-server>
      }
      @if (currentPage === 'scripts') {
        <app-scripts-composer></app-scripts-composer>
      }
      @if (currentPage === 'graphs') {
        <app-graphs></app-graphs>
      }
      @if (currentPage === 'logs') {
        <app-logs></app-logs>
      }
    </div>

  </div>
}